* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  h1 {
    color: white;
  }
  .maincontainer {
    background-color: #003566;
  }
  .taskContainer {
    background-color: #003566;
  }

  .importantCard {
    color: black;
  }
}

@media (prefers-color-scheme: light) {
  .taskContainer {
    background-color: #f1f3f5;
  }
  h1 {
    color: black;
  }

  .color[data-color='red'] {
    background-color: red;
  }
}

html {
  font-size: 62.5%;
  height: 100%;
  font-family: 'arial';
}

body {
  height: 100%;
}
.container {
  height: 100%;
  /* position: relative; */
  background-color: #efefef;
  display: flex;
}
.sidebar {
  background-color: #001d3d;
  color: white;
  width: 0;
  /* width: clamp(15rem, 20rem, 20%); */
  display: flex;
  position: fixed;
  height: 100%;
  /* left: clamp(15rem, 20rem, 20%); */
  flex-direction: column;
  gap: 4rem;
  padding: 1rem;
  transition: 0.3s all;
  /* opacity: 95%; */
}

.sidebar button {
  width: fit-content;
  padding: 1rem;
  align-self: center;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
}

.sidebarNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebarHidden {
  transform: translateX(-100%);
}
.moveMain {
  margin-left: clamp(15rem, 20rem, 20%);
}
.sidebarhidden {
  display: flex;
}

.maincontainer {
  flex: 1;
  width: 100%;
  display: flex;
  color: white;
  /* grid-template-columns: repeat(auto-fit, 1fr); */
  gap: 2rem;
  transition: 0.3s all;
}

.sectionName {
  font-size: 2.4rem;
}
.listsContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 1rem;
  transition: 0.3s transform;
}

.listCard {
  width: 100%;
  display: flex;
  /* flex: 1; */
  min-height: 4rem;
  max-height: 25%;
  /* flex-grow: 1; */
  background-color: #003566;

  border-radius: 0.5rem;
  padding: 1rem;
  /* border: 1px solid white; */
  font-size: 1.2rem;
  color: white;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s background-color;
  animation: fadein 0.5s ease 0s 1 normal forwards;
  /* overflow: auto; */
}
.listCard:hover {
  background-color: #1a4975;
}
.cardBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.listCard .title {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  /* overflow: scroll; */
}

.deleteCardbtn,
.finishCardBtn,
.editCardBtn,
.important {
  width: 2rem;
  cursor: pointer;
  transition: 0.4s all;
  align-self: center;
}

.important {
  color: black;
  fill: red;
  position: absolute;
  top: 5%;
  right: 5%;
}
.deleteCardbtn:hover {
  color: red;
  transform: scale(1.1);
}

.finishCardBtn:hover,
.editCardBtn:hover {
  transform: scale(1.1);
}

.maincontainer button {
  width: fit-content;
  padding: 1rem;
  align-self: center;
  /* background-color: transparent; */
  border-radius: 0.5rem;
  /* border: 1px solid black; */
  cursor: pointer;
}

.taskButtons {
  display: flex;
  gap: 2rem;
}

.taskContainer {
  flex: 1;
  display: flex;
  /* grid-template-columns: repeat(auto-fit, 20rem); */
  /* grid-template-columns: fit-content fit-content; */
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  overflow: auto;
  position: relative;
  transition: 0.3s all;
  animation: switchlist 0.5s ease-in-out 0s 1 normal forwards;
}

.taskCard {
  width: 20rem;
  height: 24rem;
  color: white;
  position: relative;
  /* background-color: #00b4d8; */
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 1rem;
  display: flex;
  border: 0.5px solid white;
  box-shadow: 0 2px 7px -2px black;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  transition: 0.5s all;
  animation: fadein 0.5s ease 0s 1 normal forwards;
}
.taskCard[data-finished] {
  /* background: #11998e;
  background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);
  background: linear-gradient(to bottom, #38ef7d, #11998e); */
  color: black;
}

.importantCard {
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #eea849,
    #f46b45
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #eea849,
    #f46b45
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}

.taskCardinfo {
  font-size: 1.2rem;
  align-items: center;
  justify-content: space-evenly;
  text-align: justify;
  overflow: inherit;
}
.taskCardinfo.notes {
  width: 70%;
  /* padding: 1rem; */
  display: inline-block;
  text-align: center;
  position: relative;
  height: 50%;
}
.taskCardinfo.duedate,
.taskCardinfo.description,
.taskCardinfo.title {
  text-align: center;
  height: 2rem;
  position: relative;
  width: 90%;
}

.listCard::first-letter {
  text-transform: uppercase;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  /* border: 1px solid black; */
  margin-left: 10px;
  border-radius: 1rem;

  background-color: rgba(0, 0, 0, 0.301);
}

.taskCardinfo::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.taskCardinfo:last-of-type:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.111);
}

p.taskCardinfo.title::-webkit-scrollbar-thumb {
  background-color: transparent;
}
p.taskCardinfo.title:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.111);
}

.popupmodal,
.listModal,
.editmodal {
  width: 20%;
  background-color: #001d3d;
  /* border: 3px solid white; */
  border-radius: 1rem;
  padding: 1rem 0.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  animation: fadein 0.5s ease 0s 1 normal forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.duedate {
  font-weight: bold;
  height: 2rem !important;
  display: inline-block;
}

.success {
  width: fit-content;
  background-color: aquamarine;
  border: 3px solid white;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  font-family: 'arial';
  font-weight: bold;
  display: none;
}

.popupmodal,
.listModal,
.editmodal {
  display: none;
}
.listModal {
  /* display: block; */
  width: 30%;
  /* padding: 2rem; */
}

.popup {
  display: block;
}

.closetaskmodal {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;

  background-color: white;
  border-radius: 50%;
}
.closetaskmodal img,
.closelistmodal img,
.closeeditmodal img {
  width: 100%;
  background-color: #001d3d;
  height: 100%;
  color: white;
  fill: white;
  border-radius: 50%;
  transition: 0.3s all;
}
.closetaskmodal img:hover,
.closelistmodal img:hover,
.closeeditmodal img:hover {
  background-color: rgb(167, 3, 3);
}

.colors {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.color {
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s all;
}

.color:hover {
  transform: scale(1.2);
  border: 1px solid white;
}

.color[data-color='red'] {
  background-color: rgb(143, 4, 4);
}
.color[data-color='blue'] {
  background-color: rgb(0, 53, 102);
}
.color[data-color='green'] {
  background-color: rgb(8, 96, 70);
}
.color[data-color='yellow'] {
  background-color: rgb(148, 148, 1);
}
.color[data-color='orange'] {
  background-color: rgb(132, 86, 0);
}
.color[data-color='black'] {
  background-color: rgb(26, 26, 26);
}
.color[data-color='purple'] {
  background-color: rgb(95, 1, 95);
}

.popupmodal input {
  color: white;
}
.form input {
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.listModal form {
  align-items: center;
}

.listModal input[type='color'] {
  border: none;
}

.form input,
.popupmodal select {
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.325);
  border-radius: 0.5rem;
  padding: 0.4rem;
  position: relative;
}
.form input[data-ok='invalid'] {
  position: relative;
}
input:invalid {
  border: 1px solid red;
}

.listModal {
  border: 1px solid black;
}

.listModal input {
  color: white;
  border: 1px solid white;
}

.invalidListMsg {
  color: red;
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  top: 30%;
  display: none;
}
.form input::placeholder {
  font-size: 1.2rem;
  color: rgb(180, 180, 180);
}

/* .form */
.popupmodal select,
.editmodal select {
  color: rgb(180, 180, 180);

  background-color: #001d3d;
}

input[type='date'] {
  text-align: right;
}

input[type='date']:before {
  color: grey;
  content: 'Date' !important;
  margin-right: 0.5em;
}

input:focus {
  filter: blur(0);
}

.overlay {
  display: none;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.addTask,
.addList,
.editTask {
  width: fit-content;
  padding: 1rem;
  align-self: center;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  transition: 0.4s all;
  cursor: pointer;
}

.addTask:hover,
.addList:hover,
.editTask:hover {
  /* background-color: #012b58; */
  background-color: white;
  color: #001d3d;
  font-weight: bold;
}
.taskCardinfo.title {
  font-weight: bold;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  font-size: 1.8rem;
}

.listName::placeholder {
  color: white;
}

.taskCardinfo {
  font-size: 1.4rem;
  white-space: pre-wrap;
}

span {
  height: 2rem;
  display: inline-block;
  overflow: inherit;
}
.sidebarToggle {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  width: 3rem;
}

.taskCardinfo:last-of-type {
  overflow-wrap: break-word;
  overflow: auto;
  white-space: pre-wrap;
  width: 90%;
  margin-left: 1rem;
  align-items: initial;
  text-align: center;
}

.createTaskModal {
  cursor: pointer;
  width: 3rem;
}

.createListModal {
  cursor: pointer;
  width: 3rem;
  transition: 0.3s all;
}
.createListModal:hover {
  fill: #003566;
}

.createTaskModal {
  position: absolute;
  top: 5rem;
  left: 1rem;
  z-index: 999;
  transition: 0.3s all;
}

.createTaskModal:hover {
  fill: black;
  color: black;
  outline: black;
}

.taskContainer h1 {
  position: absolute;
  /* color: black; */
  top: 0;
}

.fade-out {
  -webkit-animation: fade-out 0.3s ease-out both;
  animation: fade-out 0.3s ease-out both;
}

@keyframes switchlist {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}

@media (max-width: 1200px) {
  .popupmodal,
  .editmodal {
    width: 30%;
  }
  .listModal {
    width: 40%;
  }
}
@media (max-width: 750px) {
  .popupmodal,
  .editmodal {
    width: 50%;
  }
  .listModal {
    width: 50%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 80%;
  }
  .popupmodal,
  .editmodal {
    width: 90%;
  }

  h1 {
    right: 5px;
    font-size: 1.4rem;
  }
  .body {
    height: 100vh;
  }
  .taskContainer {
    padding: 0;
  }

  .taskCard:first-of-type {
    margin-top: 7rem;
  }

  .sidebar {
    width: 12rem;
  }
  .listCard {
    height: 7rem;
    overflow: auto;
  }
  .duedate {
    font-weight: bold;
    height: 2rem !important;
    display: inline-block;
  }
  .taskCard .title {
    display: inline-block;
    height: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }
  .listCard .title {
    flex: 1;
    padding: 3px;
    overflow: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  .listModal {
    width: 80%;
  }

  .taskCard {
    width: 70%;
  }
  .duedate,
  .description {
    overflow: hidden;
  }
  .sidebarToggle,
  .createTaskModal {
    width: 2rem;
  }
  .createTaskModal {
    top: 4rem;
  }
  .taskCardinfo.description {
    overflow: auto;
    text-align: center;
    display: inline-block;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
  }

  .taskCardinfo.notes {
    width: 100%;
    padding: 0;
    height: 10rem;
  }
}

@keyframes sidebarAnim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
